.containter {
    background-color:   @vanilia-cream-color;
    border: 0;
}
.container .panel{
    border: 0;
}
.picture-big {
    height:     @picture-big-height;
    width:      @picture-big-width;
    border: 1px dotted #fff;
}

.picture-small {
    height:     @picture-small-height;
    width:      @picture-small-width;
    margin-right: 50px;
}
.list-album-header {
    margin:             0;
    padding:            15px;
    color:              #000;    
    background-color:   @vanilia-cream-color;
    text-align:         center;    
}
.container .jumbotron-no-margin {    
    border-radius:      0 0 50px 0;
    margin-bottom:      0;
    background-image:   url('../../images/Jimi_Hendrix_-_Electric_Ladyland.jpg');
    background-size:    100%;
    
}

.myClass {
    background-color: @myPrimary;
}
.left-and-right {
    .make-row();
    .left {
        .make-md-column(6);
    }
    .right {
        .make-md-column(6);
    }
}
.band-name {
    font-weight: bold;
}
.song-list {
    padding-top:    30px;
    color:          #000;
}
.panel-album {
    margin: auto;
    width: 800px;
}

