<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Music Manager{% endblock %}</title>
        
        {% stylesheets '@MusicManagerManageBundle/Resources/public/less/style.less' %}
                <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
    </head>
    <body>
        {{ include('header.html.twig') }}
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
        {{ include('footer.html.twig') }}        
    </body>
</html>
