<body>    
    <div class="container">
        <div class="row">    
            <div class="col-xs-12">                    
                <div class="panel panel-default">
                    <div class="jumbotron jumbotron-no-margin">
                    <h1>Albumy Wszech Czasów</h1>
                    <p>Najważniejsze albumy, które zmieniły historię <br>
                        muzyki rozrywkowej.</p>
                </div>
