{% extends '::base.html.twig' %}

{% block body %}
    <body class="bg-primary">
    <header>
        <div class="jumbotron">
            <div class="container">
                <h1>Nagłówek</h1>
            </div>
        </div>
    </header>
                                    Hello {{ name }}!
         <a href="#" class="btn btn-blackfont">Button 2</a>
         <button type="button" class="btn btn-info">Button 7</button>
    </div>

    
</body>	
</html>
{% endblock %}

