{#{% extends 'MCMDemoBundle::base.html.twig' %}#}
{% extends '::base.html.twig' %}

{% block body %}
    <body class="bg-primary">
    <header>
        <div class="jumbotron">
            <div class="container">
                <h1>Nagłówek</h1>
            </div>
        </div>
    </header>
        <div class="container bg-primary">
        <div class="row">
            <div class="well-grey">
                aaaaaaaaaaaaaaaaaa
                <a href="#" class="btn btn-blackfont">Home</a>
                    Hello {{ name }}!
                <a href="columns.html" class="btn btn-blackfont">Columns</a>
                <a href="buttons.html" class="btn btn-blackfont">Buttons</a>
            </div>        
        </div>
                
         <a href="#" class="btn btn-blackfont">Button 2</a>
         <button type="button" class="btn btn-info">Button 7</button>
    </div>

    
</body>	
</html>
{% endblock %}

